<a href="https://colab.research.google.com/github/earth516/coding_colab/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B6%84%EC%84%9D_1_API.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**파이썬에서 JSON 다루기**
1. JSON 문자열로 변환하기: json.dumps()
2. JSON 문자열을 파이썬 객체로 변환하기: json.loads()
3. JSON 문자열을 데이터 프레임으로 변환하기: read_json()

In [ ]:
import json

In [ ]:
a={"name":"지구과학1"}

b={
    "name"    : "홍길동",
    "age"     : 20,
    "height"  : 183.5,
    "city"    : "seoul",
    "married" : True,
    "address" : 'null'
}

In [ ]:
#ensure_ascii 매개변수를 False로 지정
#d에 한글이 포함되어 있기 떄문
#기본적으로 json.dumps()는 ASCII 문자 외의 다른 문자를
#16진수로 출력하기 때문에 한글이 제대로 보이지 않는다.
#따라서 ensure_ascii 매개변수를 False로 지정하여
#원래 저장된 문자를 그대로 출력


a_str=json.dumps(a, ensure_ascii=False)
print(a_str)
print(type(a_str))

print('='*30)

b_str=json.dumps(b, ensure_ascii=False)
print(b_str)
print(type(b_str))

print('='*30)

{"name": "지구과학1"}
<class 'str'>
==============================
{"name": "홍길동", "age": 20, "height": 183.5, "city": "seoul", "married": true, "address": "null"}
<class 'str'>
==============================

In [ ]:
a1=json.loads(a_str)
print(a1['name'])
print('='*30)

b1=json.loads(b_str)
print(b1['name'])
print('='*30)

print(type(a1))
print(type(b1))

지구과학1
==============================
홍길동
==============================
<class 'dict'>
<class 'dict'>

In [ ]:
import pandas as pd

In [ ]:
c1_str="""
[
    { "name" : "홍길동",   "age" : 20 },
    { "name" : "이순신",   "age" : 54 },
    { "name" : "신사임당", "age" : 48 }
]
"""
c1=json.loads(c1_str)

In [ ]:
pd.read_json(c1_str)

   name  age
0   홍길동   20
1   이순신   54
2  신사임당   48

**파이썬에서 XML 다루기**
1. XML 문자열을 파이썬 객체로 변환하기: fromstring()
2. 자식 엘리먼트 확인하기: findtext()
3. 여러 개의 자식 엘리먼트 확인하기: findall()

In [ ]:
x_str="""
  <book category="cooking">
    <title lang="en">Everyday Italian</title>
    <author>Giada De Laurentiis</author>
    <year>2005</year>
    <price>30.00</price>
  </book>
  """

In [ ]:
import xml.etree.ElementTree as ET
book=ET.fromstring(x_str)
#josn과 달리 fromstring()함수가 반환하는 객체는
#단순한 파이썬 객체가 아니라
#ElementTree 모듈 아래에 정의된 Element 클래스의 객체

In [ ]:
print(type(book))

<class 'xml.etree.ElementTree.Element'>

In [ ]:
#x_str에서 가장 먼저 등장하는 부모 엘리먼트
print(book.tag)

book

In [ ]:
#자식 엘리먼트 확인하기
book_childs=list(book)
print(book_childs)

#실행결과에서 볼 수 있듯이 순서대로 도서명(name), 저자(author), 발행 연도(year)가 담겨 있음.

[<Element 'title' at 0x7f21568b77e0>, <Element 'author' at 0x7f21568b7600>, <Element 'year' at 0x7f21568b7ba0>, <Element 'price' at 0x7f21568b7c40>]

In [ ]:
name, author, year, price = book_childs
print(name.text)
print(author.text)
print(year.text)
print(price.text)

Everyday Italian
Giada De Laurentiis
2005
30.00

In [ ]:
x2_str="""
<books>
  <book>
    <name>지구과학1 교과서</name>
    <author>이효리</author>
    <year>2024</year>
  </book>
  <book>
    <name>지구과학2 교과서</name>
    <author>이효리</author>
    <year>2024</year>
  </book>
</books>
"""

In [ ]:
books=ET.fromstring(x2_str)
print(books.tag)

books

In [ ]:
#여러 개의 자식 엘리먼트 확인하기
#<books>안에 포함된 두 개의 <book>엘리멘트를 찾고
#도서명, 저자, 발행 연도를 출력

for book in books.findall('book'):
  name=book.findtext('name')
  author=book.findtext('author')
  year=book.findtext('year')
  print(name, author, year)

지구과학1 교과서 이효리 2024
지구과학2 교과서 이효리 2024